:root{
    --primary: #313131;
    --bg: #76d7c4;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    font-family: 'poppins', sans-serif;
    background-color: rgb(49, 49, 49);
    color: aliceblue;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgb(49, 49, 49, 0.9);
    border-bottom: 1px solid var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    
}

.navbar .navbar-img{
    position: fixed;
    justify-content: left;
    margin-top: 1rem;

}
.navbar .navbar-logo{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-left: 9rem;
}

.navbar .navbar-nav a{
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 2rem;
}

.navbar .navbar-nav a:hover{
    color: #76d7c4;
}

.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--bg);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color:#fff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color:var(--bg);
}

#humberger-menu{
    display: none;

}

.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,rgb(49, 49, 49) 3%, rgba(49,49,49,0)25%);
}

.hero .content{
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1{
    font-size: 8em;
    color: #ffeaa7;
    text-shadow: 1px 1px 3px rgb(118, 215, 196, 0.5);
    line-height: 1.2;
}


/*Pipi 1 */
.pipi{
    padding: 2rem 7% 1.4rem;
}

.pipi h1{
    text-align: left;
    font-size: 4rem;
    margin: 3rem;
    color: #ffeaa7;
}

.pipi .pop {
    display: flex;
    margin-top: 6rem;
}

.pipi .pop .pop-img{
    flex: 1 1 45rem;
    margin-left: 7rem;
}

.pipi .popi{
    flex: 1 1 50rem;
    font-size: 6rem;
    color: #ffeaa7;
    text-align: center;
}

.pipi .popi p{
    font-weight: 300;
}

.pipi .popi h2{
    font-size: 6rem;
}

.pipi .popi .icon {
    width: 10rem;
    height: 10rem;
    margin-top: 2rem;
}

.icon:hover{
    border-radius: 50%;
    background-color: #76d7c4;
    opacity: 1;
}

/* Pipi 2 */
.pipi2 .pop2 .pop-img2{
    padding: 2rem 7% 1.4rem;
    margin-left: 59rem;
}

.pipi2 .pop2 {
    display: flex;
    margin-top: 6rem;
}

.pipi2 .popi2{
    position: absolute;
    margin-left: 13rem;
    font-size: 6rem;
    color: #ffeaa7;
    text-align: center;
    margin-top: 5rem;
}

.pipi2 .popi2 p{
    font-weight: 300;
}

.pipi2 .popi2 h2{
    font-size: 6rem;
}

.pipi2 .popi2 h2{
    font-size: 6rem;
}

.pipi2 .popi2 .icon2 {
    width: 10rem;
    height: 10rem;
    margin-top: 2rem;
}

.icon2:hover{
    border-radius: 50%;
    background-color: #76d7c4;
    opacity: 1;
}

/* pipi 3 */

.pipi3{
    padding: 2rem 7% 1.4rem;
}

.pipi3 h1{
    text-align: left;
    font-size: 4rem;
    margin: 3rem;
    color: #ffeaa7;
}

.pipi3 .pop3 {
    display: flex;
    margin-top: 6rem;
}

.pipi3 .pop3 .pop-img3{
    flex: 1 1 45rem;
    margin-left: 7rem;
}

.pipi3 .popi3{
    flex: 1 1 50rem;
    font-size: 6rem;
    color: #ffeaa7;
    text-align: center;
}

.pipi3 .popi3 p{
    font-weight: 300;
}

.pipi3 .popi3 h2{
    font-size: 6rem;
}

.pipi3 .popi3 .icon3 {
    width: 10rem;
    height: 10rem;
    margin-top: 2rem;
}

.icon3:hover{
    border-radius: 50%;
    background-color: #76d7c4;
    opacity: 1;
}



footer{
    background-color: #76d7c4;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    margin-top: 3rem;
}

footer .credit {
    color: #313131;
    font-size: 1.2rem;
    font-weight: 600;
}
footer .credit a {
    color: #313131;
    font-size: 1.2rem;
    font-weight: 600;
}

/*laptop*/
@media (max-width: 1366px) {
    html{ 
        font-size: 75%;
    }
}

/* tablet*/
@media (max-width: 758px) {
    html{ 
        font-size: 62.5%;
    }

    #humberger-menu{
        Display : inline-block;
    }

    .navbar .navbar-nav {
        Position : absolute;
        Top : 100%;
        Right:-100%;
        Background-color: #313131;
        Width : 30rem;
        Height : 100vh;
        Transition: 0.3s;
    }

    .navbar .navbar-nav.active {
       right: 0;
    }
    
    .navbar .navbar-nav a{
        Color :#76d7c4;
        Display : block; 
        Margin: 1.5rem;
        Padding: 0.5rem;
        Font-size: 2rem;
        }
        
        .navbar .navbar-nav a::after {
        transform-origin: 0 0;
        }
        
        .navbar .navbar-nav a:Hover::after {
        transform:scaleX(0.2);
        }
            
}

/* mobile phone*/

@media (max-width: 450px) {
    html{ 
        font-size: 55%;
    }
}
